<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Hello <%- user.username %></h1>
    <h2>Access Level: <%- user.access_level %></h2> 
    <a href="/logout">logout</a>
    <a href="/membership">Change Membership</a>

    <form action="/post" method="post">
        <input type="text" name="title">
        <textarea name="content" id=""></textarea>
        <button>submit</button>
    </form>

    <% for(const post of posts){%>
        <h1>Tite: <%- post.title %></h1>
        <h2>Author: <%- post.username || "anonymous"%></h2>
        <p>Content: <%- post.content %></p>
        <%}%>

</body>
</html>